<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
Your Username: <input type="text" name="name">
Your Email: <input type="text" name="email">
Your Password: <input type="text" name="password">
<input type="submit" value="Sign Up">
</form>
